<nav class="flex-header">
	<a class="nav-item" [routerLink]="['/conversations']">
		<arrow left="true" height="20" width="10" color="rgb(21, 126, 251)"></arrow>
	</a>
	<div *ngIf="conversation" class="nav-item title"><anonymous size="50"></anonymous><br />{{ conversation.to | whom }}</div>
	<a *ngIf="conversation" class="nav-item text-right" (click)="showConversationSettings = true"><strong class="fancy-letter">i</strong></a>
	<div *ngIf="!conversation" class="nav-item text-right"></div>
</nav>
<div *ngIf="messageGroups" id="content" [ngClass]="{'imessage': conversation && conversation.protocol === 'imessage'}">
	<div *ngFor="let messageGroup of messageGroups; let i = index">
		<div class="timestamp">
			<strong *ngIf="conversation && i === 0">{{ (conversation.protocol === 'imessage') ? 'iMessage' : 'Text Message' }}</strong><br *ngIf="i === 0"
			/>
			<strong>{{ messageGroup.ts | friendlyDate: true }}</strong> {{ messageGroup.ts | date: 'h:mm a' }}
		</div>
		<div *ngFor="let message of messageGroup.messages" class="message-container">
			<div [ngClass]="{'message': true, 'outbound': message.outbound}">{{ message.content }}</div>
		</div>
	</div>
</div>
<footer id="send-actions">
	<div *ngIf="!inputFocused" class="flex">
		<button>camera</button>
		<button>gesture</button>
		<button>app</button>
	</div>
	<div class="btn" *ngIf="inputFocused">
		<arrow></arrow>
	</div>
	<div class="action fancy-input">
		<input class="actual-input" type="text" [placeholder]="(conversation && conversation.protocol === 'imessage') ? 'iMessage' : 'Text Message'" (focus)="inputFocused = true" (blur)="inputFocused = false" />
		<button [ngClass]="{'active': inputFocused}">up</button>
	</div>
</footer>