#content {
    margin-top: 104px;
    padding: 16px;
}
.timestamp {
    color: gray;
    font-size: 0.6em;
    margin-bottom: 8px;
    text-align: center;
}
.message-container {
    display: flex;
    flex-direction: column;
}
.message {
    align-self: flex-start;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px 16px;
    margin-bottom: 8px;
    max-width: 250px;
}
.message.active {
    border: 1px solid black;
}
.outbound {
    align-self: flex-end;
    background-color: limegreen;
    color: white;
}
.imessage .message.outbound {
    background-color: rgb(21, 126, 251); 
    color: white;
}
footer {
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    left: 0;
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
}
.fancy-input {
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 16px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 16px;
    padding: 4px;
}
.fancy-input > .actual-input {
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
    width: 0;
    padding: 8px;
}
.fancy-letter {
    border: 1px solid rgb(21, 126, 251);
    border-radius: 16px;
    display: inline-block;
    font-family: serif;
    padding: 0 7px;

}
.flex-links {
    display: flex;
}
.links-item {
    padding: 8px;
}
.spacer {
    flex-grow: 1;
}