anonymous {
    margin-bottom: 8px;
}
.stack {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thin {
    font-weight: 100;
}
.fancy-letter {
    border: 1px solid rgb(21, 126, 251);
    border-radius: 9999px;
    font-family: serif;
    padding: 0 7px;
}
#messages {
    padding-left: 16px;
    padding-right: 16px;
}
.timestamp {
    color: gray;
    font-size: 0.6em;
    margin-bottom: 8px;
    text-align: center;
}
.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.message-container.outbound {
    align-items: flex-end;
}
.message-container > .message {
    background-color: rgb(229, 229, 234);
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px 16px;
    margin-bottom: 8px;
    max-width: 250px;
}
.message-container > .message.active {
    border-color: #777;
    box-shadow: 0 1px 8px 2px rgba(196, 196, 196, 0.3);
}
.message-container.outbound > .message {
    background-color: rgb(32, 204, 80);
    color: white;
}
.message-container.outbound.imessage > .message {
    background-color: rgb(21, 126, 251);
}
footer {
    background-color: white;
    bottom: 0;
    left: 0;
    min-height: 38px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    width: 100%;
}
.toolbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.toolbar > * {
    margin-right: 16px;
}
.toolbar > *:first-child {
    margin-left: 16px;
}
.fancy-input {
    align-items: stretch;
    border: 1px solid lightgray;
    border-radius: 9999px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3px;
}
.fancy-input input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
    width: 0;
    padding: 0 8px;
}
i.icon {
    background-color: rgb(133, 142, 153);
    color: white;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
i.camera {
    border-radius: 3px;
    height: 20px;
    width: 25px;
}
i.heart {
    border-radius: 9999px;
    height: 20px;
    width: 20px;
}
i.apps {
    border-radius: 9999px;
    height: 20px;
    width: 30px;
}
i.expand {
    border-radius: 5px;
    height: 25px;
    width: 30px;
}
i.send {
    border-radius: 9999px;
    width: 30px;
    height: 30px;
}
i.send.active {
    background-color: rgb(32, 204, 80);
}
i.send.active.imessage {
    background-color: rgb(21, 126, 251);
}
i.rewind, i.ff {
    border-radius: 3px;
    height: 25px;
    width: 30px;
}
i.move {
    border-radius: 5px;
    height: 25px;
    width: 25px;
}
i.delete {
    border-radius: 9999px;
    height: 25px;
    width: 25px;
}