<header>
	<a [routerLink]="['/conversations']">
		<arrow left="true" height="20" width="10" color="rgb(21, 126, 251)"></arrow>
	</a>
	<div class="stack">
		<anonymous size="40" [initials]="conversation.to | initials"></anonymous><small>{{ conversation ? (conversation.to | whom) : '...' }}</small></div>
	<a *ngIf="!conversation" class="text-right"></a>
	<a *ngIf="conversation" class="text-right" (click)="editTo = conversation.to; editImessage = conversation.protocol === 'imessage'; showEditConversation = true"><strong class="fancy-letter">i</strong></a>
</header>
<div *ngIf="messages" (click)="selectedMessage = null" id="messages" class="below-header-lg">
	<div *ngFor="let message of messages | before: playbackIndex">
		<div *ngIf="message.ts" class="timestamp">
			<strong *ngIf="index === 0">{{ (conversation.protocol === 'imessage') ? 'iMessage' : 'Text Message' }}</strong><br *ngIf="index === 0"
			/>
			<strong>{{ message.ts | friendlyDate: true }}</strong> {{ message.ts | date: 'h:mm a' }}
		</div>
		<div class="message-container" [ngClass]="{'outbound': message.outbound, 'imessage': conversation.protocol === 'imessage' }">
			<div (click)="isRecording() && (selectedMessage = message); $event.stopPropagation()" class="message" [ngClass]="{'active': selectedMessage === message}">{{ message.content }}</div>
			<callout left="!message.outbound"></callout>
		</div>
	</div>
	<div *ngIf="isReceivingMessage" class="message-container">
		<div class="message">...</div>
		<div class="clearfix"></div>
	</div>
</div>
<footer *ngIf="!selectedMessage" class="toolbar">
	<i *ngIf="!isTyping" class="camera icon" (click)="isPlayback() && fastForward()"></i>
	<i *ngIf="!isTyping" class="heart icon"></i>
	<i *ngIf="!isTyping " class="apps icon"></i>
	<i *ngIf="isTyping" class="expand icon"></i>
	<div class="fancy-input">
		<input #messageContent class="actual-input" type="text" [placeholder]="(conversation.protocol === 'imessage') ? 'iMessage' : 'Text Message'"
			(focus)="isTyping = true" (blur)="isTyping = false" [disabled]="isReceivingMessage" />
		<i class="send icon" [ngClass]="{'active': isTyping, 'imessage': (conversation.protocol === 'imessage')}" (click)="messageContent.value && sendMessage(messageContent.value); messageContent.value = ''"></i>
	</div>
</footer>
<footer *ngIf="selectedMessage" class="toolbar">
	<i class="rewind icon" [ngClass]="{'disabled': isPlayback()}" (click)="isRecording() && rewind(selectedMessage)">&laquo;</i>
	<i class="move icon" [ngClass]="{'left': selectedMessage.outbound, 'disabled': isPlayback()}" (click)="isRecording() && toggleOutbound(selectedMessage)">{{ selectedMessage.outbound ? '<' : '>' }}</i>
	<i class="delete icon" [ngClass]="{'disabled': isPlayback()}" (click)="isRecording() && deleteMessage(selectedMessage)">x</i>
	<i class="ff icon" [ngClass]="{'disabled': isRecording()}" (click)="isPlayback() && fastForward()">&raquo;</i>
</footer>
<div class="modal" *ngIf="showEditConversation">
	<header>
		<a (click)="showEditConversation = false">Cancel</a>
		<h3><strong>Details</strong></h3>
		<a *ngIf="!isSavingConversation" (click)="saveConversation(editTo, editImessage)" class="text-right"><strong>Done</strong></a>
		<a *ngIf="isSavingConversation" class="text-right">Saving...</a>
	</header>
	<div class="below-header-sm">
		<div id="to">
			<label>To:</label>
			<input #to class="to-item" [(ngModel)]="editTo" />
		</div>
		<ul class="ui-table-view">
			<li>
				<a class="gutter-link"></a>
				<div class="row setting">
					<label>iMessage</label>
					<i [ngClass]="{'switch': true, 'on': editImessage}" (click)="editImessage = !editImessage"><i class="peg"></i></i>
				</div>
			</li>
		</ul>
	</div>
</div>