<header>
	<a [routerLink]="['/conversations']">
		<arrow dir="left" height="20" width="10" color="rgb(21, 126, 251)" thickness="3"></arrow>
	</a>
	<div class="stack">
		<anonymous size="40" [initials]="conversation.to | initials"></anonymous><small class="thin">{{ conversation.to ? (conversation.to | whom) : '...' }}</small>
	</div>
	<a *ngIf="!conversation.to" class="text-right"></a>
	<a *ngIf="conversation.to" class="text-right" (click)="editTo = conversation.to; editImessage = conversation.protocol === 'imessage'; isConversationDirty = false; showEditConversation = true"><strong class="fancy-letter">i</strong></a>
</header>
<div class="below-header-lg">
	<div *ngIf="isLoadingMessages" class="spinner">
		<animated-ellipsis></animated-ellipsis>
	</div>
	<div *ngIf="messages" (click)="selectedMessage = null" id="messages">
		<div *ngFor="let message of messages | before: playbackIndex">
			<div *ngIf="message.ts" class="timestamp">
				<strong *ngIf="index === 0">{{ (conversation.protocol === 'imessage') ? 'iMessage' : 'Text Message' }}</strong><br *ngIf="index === 0"
				/>
				<strong>{{ message.ts | friendlyDate: true }}</strong> {{ message.ts | date: 'h:mm a' }}
			</div>
			<div class="message-container" [ngClass]="{'outbound': message.outbound, 'imessage': conversation.protocol === 'imessage' }">
				<div (click)="isRecording() && (selectedMessage = message); $event.stopPropagation()" class="message" [ngClass]="{'active': selectedMessage === message}">{{ message.content }}</div>
				<callout left="!message.outbound"></callout>
			</div>
		</div>
		<div *ngIf="isThinking" class="message-container">
			<div class="message">
				<animated-ellipsis></animated-ellipsis>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<footer *ngIf="!selectedMessage" class="toolbar">
	<i *ngIf="!isTyping" class="camera icon" (click)="isPlayback() && !isSendingDisabled && fastForward()"></i>
	<i *ngIf="!isTyping" class="heart icon"></i>
	<i *ngIf="!isTyping " class="apps icon"></i>
	<i *ngIf="isTyping" class="expand icon"><arrow color="white"></arrow></i>
	<div class="fancy-input">
		<input #messageContent class="actual-input" type="text" [placeholder]="(conversation.protocol === 'imessage') ? 'iMessage' : 'Text Message'"
			(focus)="isTyping = true" (blur)="isTyping = false" />
		<i class="send icon" [ngClass]="{'active': isTyping, 'imessage': (conversation.protocol === 'imessage')}" (click)="!isSendingDisabled && messageContent.value && sendMessage(messageContent.value); messageContent.value = ''">
			<arrow dir="up" color="white" width="10" height="5"></arrow>
		</i>
	</div>
</footer>
<footer *ngIf="selectedMessage" class="toolbar">
	<i class="rewind icon" [ngClass]="{'disabled': isDeletingMessage(selectedMessage) || isPlayback()}" (click)="!isDeletingMessage(selectedMessage) && isRecording() && rewind(selectedMessage)">&laquo;</i>
	<i class="move icon" [ngClass]="{'left': selectedMessage.outbound, 'disabled': isDeletingMessage(selectedMessage) || isMovingMessage(selectedMessage) || isPlayback()}"
		(click)="!isDeletingMessage(selectedMessage) && !isMovingMessage(selectedMessage) && isRecording() && toggleOutbound(selectedMessage)">&lsaquo;&rsaquo;</i>
	<i class="delete icon" [ngClass]="{'disabled': isDeletingMessage(selectedMessage) || isPlayback()}" (click)="!isDeletingMessage(selectedMessage) && isRecording() && deleteMessage(selectedMessage)">x</i>
</footer>
<div class="modal" *ngIf="showEditConversation">
	<header>
		<a (click)="showEditConversation = false">Cancel</a>
		<h3><strong>Details</strong></h3>
		<a *ngIf="!isSavingConversation" (click)="saveConversation()" class="text-right">Done</a>
		<a *ngIf="isSavingConversation" class="text-right">Saving...</a>
	</header>
	<div class="below-header-sm">
		<div id="to">
			<label>To:</label>
			<input #to class="to-item" [(ngModel)]="editTo" (change)="testAndSetDirty()" />
			<i class="phone" (click)="showPhoneConfirm = true"></i>
		</div>
		<ul class="ui-table-view">
			<li>
				<a class="gutter-link"></a>
				<div class="row setting">
					<label>iMessage</label>
					<i [ngClass]="{'switch': true, 'on': editImessage}" (click)="editImessage = !editImessage; testAndSetDirty()"><i class="peg"></i></i>
				</div>
			</li>
		</ul>
	</div>
</div>
<div *ngIf="showPhoneConfirm" class="alert-background">
	<div class="alert">
		<h3 class="alert-title">Receive Phone Call from "{{ conversation ? conversation.to : '...' }}"?</h3>
		<p class="alert-content">You will receive a phone call in {{ (phoneDelayMs / 1000) | number}} seconds. This will override any phone calls in progress.</p>
		<div class="alert-controls">
			<a (click)="showPhoneConfirm = false" class="btn">Cancel</a>
			<a (click)="confirmPhoneCall()" class="btn">Confirm</a>
		</div>
	</div>
</div>