<div class="phone-call">
	<div class="caller">
		<h2>{{ caller }}</h2>
		<small>{{ 'mobile' }}</small>
	</div>
	<div class="center">
		<div class="call-controls" *ngIf="isAnswered">
			<div class="column">
				<div class="btn">
					<i class="mute circle"></i>
					<label>mute</label>
				</div>
				<div class="btn">
					<i class="add-call circle"></i>
					<label>add call</label>
				</div>
			</div>
			<div class="column">
				<div class="btn">
					<i class="keypad circle"></i>
					<label>keypad</label>
				</div>
				<div class="btn">
					<i class="facetime circle"></i>
					<label>FaceTime</label>
				</div>
			</div>
			<div class="column">
				<div class="btn">
					<i class="speaker circle"></i>
					<label>speaker</label>
				</div>
				<div class="btn">
					<i class="contacts circle"></i>
					<label>contacts</label>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
			<div class="btn" *ngIf="!isAnswered">
				<i class="clock glyph"></i>
				<label>Remind Me</label>
			</div>
			<div class="btn" (click)="goBack()">
				<i class="decline circle"></i>
				<label *ngIf="!isAnswered">Decline</label>
			</div>
		</div>
		<div class="right" *ngIf="!isAnswered">
			<div class="btn">
				<i class="conversation glyph"></i>
				<label>Message</label>
			</div>
			<div class="btn" (click)="isAnswered = true">
				<i class="accept circle"></i>
				<label>Accept</label>
			</div>
		</div>
	</div>
</div>