/* You can add global styles to this file, and also import other style files */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}
#top {
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(212, 211, 214);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
#top > .nav-item {
    padding: 16px;
    flex-grow: 0;
}
#top > .title {
    flex-grow: 1;
    text-align: center;
}
#top > a {
    color: rgb(21, 126, 251);
    text-decoration: none;
}
.icon {
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    margin-right: 8px;
    width: 50px;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
.modal {
    background-color: white;
    border: 1px solid rgb(212, 211, 214);
    border-radius: 8px;
    left: 1%;
    position: fixed;
    top: 8px;
    width: 98%;
    z-index: 9999;
}
.modal-header, .modal-content, .modal-footer {
    padding: 16px;
}
.modal-header {
    background-color: rgb(249, 249, 249);
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid rgb(212, 211, 214);
}
input.on-left {
    margin-right: 8px;
}
input.on-right {
    margin-left: 8px;
}
.form input {
    padding: 8px;
}
.form label {
    font-size: 0.8em;
}
.flex {
    display: flex;
}
.clearfix {
    clear: both;
}
.text-right {
    text-align: right;
}