/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12pt;
    height: 100%;
    margin: 0;
}
a {
    color: rgb(0, 124, 251);
    cursor: pointer;
    text-decoration: none;
}
i {
    font-style: normal;
}
strong {
    font-weight: 500;
}
input {
    border: none;
    font-size: 12pt;
}
small {
    font-size: 0.8em;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
header {
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(208, 208, 208);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
header > * {
    padding: 12px;
    flex-basis: 0;
    flex-grow: 1;
}
header > h3 {
    cursor: default;
    flex-grow: 2;
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.below-header-sm {
    padding-top: 42px;
}
.below-header-lg {
    padding-bottom: 98px;
    padding-top: 98px;
}
.clearfix {
    clear: both;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.hidden {
    visibility: hidden;
}
.pull-right {
    float: right;
}
.modal {
    background-color: white;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#to {
    align-items: center;
    background-color: rgb(248, 248, 248);
    display: flex;
    padding: 16px;
}
#to > label {
    color: rgb(143, 143, 147);
    margin-right: 16px;
}
#to > input {
    background-color: transparent;
    flex-grow: 1;
    width: 0;
}
.spinner {
    padding: 16px;
}
.ui-table-view {
    background-color: white;
    margin: 0;
    padding: 0;
}
.ui-table-view > li {
    align-items: center;
    display: flex;
    list-style-type: none;
}
.ui-table-view > li > .gutter-link {
    margin: 12px;
}
.ui-table-view > li > .row {
    border-bottom: 1px solid rgb(240, 240, 240);
    color: rgb(150, 150, 154);
    display: flex;
    flex-grow: 1;
    padding: 8px 8px 8px 0;
}
.ui-table-view > li > .row.setting {
    align-items: center;
    padding: 16px 16px 16px 0;
}
.ui-table-view > li > .row.setting > label {
    color: black;
    flex-grow: 1;
}
.switch {
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: 50px;
}
.switch.on {
    background-color: limegreen;
    border-color: limegreen;
    justify-content: flex-end;
}
.peg {
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 25px;
    box-shadow: 0 1px 8px 2px rgba(196, 196, 196, 0.3);
    display: inline-block;
    width: 25px;
    height: 25px;
}