div {
    align-items: center;
    background-color: rgb(132, 137, 148);
    background: linear-gradient(to bottom, rgb(164, 170, 182), rgb(132, 137, 148));
    border-radius: 9999px;
    color: white;
    display: flex;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    justify-content: center;
}